<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.title }}</title>
</head>

<body>
    <h1>Blog Details</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <td>{{ blog.title }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ blog.author.name }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ blog.category.name }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ blog.created_at }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ blog.content }}</td>
        </tr>
    </table>
    <br>
    <a href="{% url 'update_blog' blog.id %}">Edit</a>
    <a href="{% url 'delete_blog' blog.id %}">Delete</a>
    <a href="{% url 'blog_home' %}">Back to Blog List</a>
</body>

</html>