<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome to Category App Home Page
    </h1>
    <h2>List of Categorys0</h2>
    <table border="1">
        <tr>
            <th>Category Title</th>
            <th>Category Description</th>
            

        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
          
            <td><a href="{% url 'update-category' category.id %}">Update</a></td>
            <td><a href="{% url 'delete-category' category.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'add-category' %}">Add New Category</a>
</body>
</html>