<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        Welcome to Author App Home Page
    </h1>
    <h2>List of authors</h2>
    <table border="1">
        <tr>
            <th>Author Name</th>
            <th>Author Email</th>
            <th>Author Phone</th>
            <th>Author Bio</th>
            <th>Author Age</th>
            <th>Author Gender</th>

        </tr>
        {% for author in authors %}
        <tr>
            <td>{{ author.name }}</td>
            <td>{{ author.email }}</td>
            <td>{{ author.phone }}</td>
            <td>{{ author.bio }}</td>
            <td>{{ author.age }}</td>
            <td>{{ author.gender }}</td>
            <td><a href="{% url 'update_author' author.id %}">Update</a></td>
            <td><a href="{% url 'delete_author' author.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'add_author' %}">Add New Author</a>
</body>

</html>